* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  background: #fffaf5;
  font-family: "Sora", sans-serif;
}

.container {
  width: 117rem;
  margin: 0 auto;
  max-width: calc(100% - 2.4rem);
}

.header {
  margin: 0 auto;
  position: sticky;
  top: 0;
  z-index: 2;
  background: #fffaf5;
}
.header .container .header__inner {
  padding: 0.7rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .container .header__inner nav ul {
  display: flex;
}
.header .container .header__inner nav ul li {
  padding: 0 1.8rem;
}
.header .container .header__inner nav ul li a {
  color: #5e6085;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem; /* 100% */
  text-decoration: none;
}
.header .container .header__inner nav ul li a:hover {
  font-weight: 600;
}
.header .container .header__inner .header-btn {
  height: 5rem;
  display: flex;
}
.header .container .header__inner .header-btn a {
  margin: auto;
  height: 100%;
  padding: 2rem 3rem;
  border-radius: 3rem;
  background: #fff;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
  text-decoration: none;
  width: fit-content;
  border: 1px solid #000958;
  padding: 1.8rem 3.2rem;
  color: #000958;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem; /* 100% */
}

.hero .hero_inner {
  display: flex;
  gap: 12rem;
  margin-top: 8.8rem;
}
.hero .hero_inner .images {
  transform: translateY(5%);
  width: 50%;
  padding-bottom: 11rem;
  position: relative;
}
.hero .hero_inner .images .image-card {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
  width: 388px;
  height: 488px;
  flex-shrink: 0;
  border-radius: 16px;
  border: 3px solid #fff;
  background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.hero .hero_inner .images .image-card > img {
  border-radius: 16px;
}
.hero .hero_inner .images .image-card .image-card-2 {
  display: flex;
  align-items: end;
  justify-content: center;
  position: absolute;
  top: 30.2rem;
  right: -15.2rem;
  width: 18.6rem;
  height: 24.4rem;
  flex-shrink: 0;
  border-radius: 1.6rem;
  border: 2px solid rgba(255, 255, 255, 0.65);
  background: linear-gradient(220deg, #faa7ad 0%, #e87f8a 100%);
  box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}
.hero .hero_inner .images .image-card .image-card-2 img {
  max-width: 100%;
}
.hero .hero_inner .images .image-card .img-deco-1 {
  position: absolute;
  left: -7.5rem;
  bottom: -2rem;
  z-index: -1;
}
.hero .hero_inner .images .image-card .img-deco-2 {
  position: absolute;
  z-index: -1;
  right: -3rem;
  top: 2rem;
}
.hero .hero_inner .images .card-info {
  position: absolute;
  bottom: 0;
  left: 13rem;
  width: 25rem;
  height: 15.6rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  padding: 1.8rem 1.4rem;
}
.hero .hero_inner .images .card-info .item {
  display: flex;
  gap: 1rem;
}
.hero .hero_inner .images .card-info .item img {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
  background: #fec23f;
  object-fit: cover;
}
.hero .hero_inner .images .card-info .item .item-info h3 {
  color: #181e52;
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.4rem; /* 100% */
}
.hero .hero_inner .images .card-info .item .item-info .skeleton-1 {
  width: 11.8rem;
  height: 0.4rem;
  flex-shrink: 0;
  border-radius: 1rem;
  opacity: 0.08;
  background: #000958;
  margin: 0.6rem 0;
}
.hero .hero_inner .images .card-info .item .item-info .skeleton-2 {
  width: 3.9rem;
  height: 0.4rem;
  flex-shrink: 0;
  border-radius: 1rem;
  opacity: 0.08;
  background: #000958;
}
.hero .hero_inner .images .card-info .item-2 {
  margin-top: 4rem;
  position: relative;
}
.hero .hero_inner .images .card-info .item-2 img {
  background: #c6e2fa;
}
.hero .hero_inner .images .card-info .item-2::before {
  content: "";
  position: absolute;
  top: -2rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: #f2f2f2;
}
.hero .hero_inner .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero .hero_inner .content h2 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 6.6rem;
  font-style: normal;
  font-weight: 800;
  line-height: 7.6rem; /* 115.152% */
}
.hero .hero_inner .content > p {
  margin: 2.4rem 0 3.6rem 0;
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 187.5% */
}
.hero .hero_inner .content .btn {
  display: flex;
  gap: 2.4rem;
  align-items: center;
}
.hero .hero_inner .content .btn a:first-child {
  padding: 2rem 3rem;
  border-radius: 3rem;
  background: #ff5b2e;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
  text-decoration: none;
  width: fit-content;
  border-radius: 3.1rem;
  background: #ff5b2e;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}
.hero .hero_inner .content .btn a:first-child span {
  display: flex;
  align-items: center;
  height: 2rem;
}
.hero .hero_inner .content .btn a:first-child span p {
  color: #fff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem;
}
.hero .hero_inner .content .btn a:first-child span img {
  align-self: center;
  padding-left: 1rem;
  margin-top: 0.7rem;
}
.hero .hero_inner .content .btn a:last-child {
  color: #000958;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem; /* 100% */
  text-decoration-line: underline;
}

.about {
  padding-top: 13rem;
}
.about .container .about__inner {
  display: flex;
  gap: 10.8rem;
  align-items: center;
}
.about .container .about__inner .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about .container .about__inner .content h2 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.2rem; /* 119.231% */
}
.about .container .about__inner .content p {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 187.5% */
  margin: 2.4rem 0 5.7rem;
}
.about .container .about__inner .content .achievement {
  display: flex;
  flex-flow: wrap;
}
.about .container .about__inner .content .achievement .achie-item {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
}
.about .container .about__inner .content .achievement .achie-item img {
  margin-left: -1.2rem;
}
.about .container .about__inner .media {
  display: flex;
  align-items: center;
}
.about .container .about__inner .media .experience-block {
  transform: translate(10rem, -6rem);
  width: 13.6rem;
  height: 15.6rem;
  flex-shrink: 0;
  border-radius: 1rem;
  background: #5bd6e2;
  box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
  display: flex;
  padding: 3rem 2.6rem;
  flex-direction: column;
  gap: 1.4rem;
  position: relative;
}
.about .container .about__inner .media .experience-block span:first-child {
  color: #fff;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 4.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.2rem; /* 100% */
}
.about .container .about__inner .media .experience-block span:nth-child(2) {
  color: #c6f4f9;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; /* 142.857% */
}
.about .container .about__inner .media .experience-block img {
  position: absolute;
  top: -4rem;
  right: -3.3rem;
}

.features .container .features__inner {
  display: flex;
  align-items: center;
}
.features .container .features__inner .media {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}
.features .container .features__inner .media img {
  margin-left: -7rem;
}
.features .container .features__inner .content {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.features .container .features__inner .content h2 {
  margin-bottom: 2.4rem;
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.2rem; /* 119.231% */
}
.features .container .features__inner .content p {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 187.5% */
}
.features .container .features__inner .content ul {
  display: flex;
  gap: 5.6rem;
  margin: 5rem 0;
}
.features .container .features__inner .content ul li {
  display: flex;
  gap: 1.1rem;
  align-items: center;
}
.features .container .features__inner .content ul li span {
  text-wrap: nowrap;
  color: #48496a;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; /* 100% */
}
.features .container .features__inner .content a {
  margin-top: 3.2rem;
  color: #ff5d31;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem; /* 100% */
}

.services {
  padding-top: 6.4rem;
  width: 100%;
}
.services .services-block {
  background: #fff6ed;
}
.services .services-block .container .services__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .services-block .container .services__inner h4 {
  padding: 6.8rem 0 1.5rem;
  color: #5e6085;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem; /* 100% */
}
.services .services-block .container .services__inner h2 {
  color: #000958;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.2rem; /* 119.231% */
}
.services .services-block .container .services__inner .content {
  padding: 3.1rem 0 10rem;
  display: flex;
  align-items: center;
  gap: 6.4rem;
}
.services .services-block .container .services__inner .content .left-cards,
.services .services-block .container .services__inner .content .right-cards {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.services .services-block .container .services__inner .content .image {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services .services-block .container .services__inner .content .image img {
  width: 44rem;
  height: 65rem;
  flex-shrink: 0;
  margin-bottom: 5.1rem;
}
.services .services-block .container .services__inner .content .image a {
  padding: 2rem 3rem;
  border-radius: 3rem;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
  text-decoration: none;
  width: fit-content;
  border-radius: 3.1rem;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem; /* 100% */
}
.services .services-block .container .services__inner .content .card {
  padding: 3rem 2.8rem 3rem 2.2rem;
  width: 29.4rem;
  height: 20.8rem;
  flex-shrink: 0;
  border-radius: 1rem;
  border: 2px solid rgba(255, 188, 122, 0.26);
  background: #fff;
}
.services .services-block .container .services__inner .content .card h3 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem; /* 100% */
  position: relative;
  margin-left: 1.4rem;
}
.services .services-block .container .services__inner .content .card h3::after {
  content: "";
  position: absolute;
  top: 0;
  left: -1.2rem;
  width: 0.2rem;
  height: 2.2rem;
  background: linear-gradient(63deg, #ff5b2e 0%, #ffa187 100%);
}
.services .services-block .container .services__inner .content .card > p {
  padding: 1.8rem 0 2.4rem;
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 171.429% */
}
.services .services-block .container .services__inner .content .card a {
  display: flex;
  align-items: center;
}
.services .services-block .container .services__inner .content .card a > p {
  margin-left: 0.6rem;
  color: #34396a;
  font-family: "Sora", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem; /* 100% */
}
.services .services-block .container .services__inner .content .card a img {
  width: 1.2rem;
  height: 1.2rem;
  flex-shrink: 0;
}

.team {
  margin: 13rem auto;
}
.team .container .team__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.team .container .team__inner .sub-header {
  color: #5e6085;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.6rem; /* 100% */
}
.team .container .team__inner h2 {
  padding: 1.5rem 0 4.5rem 0;
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.2rem; /* 119.231% */
}
.team .container .team__inner .member-list {
  display: flex;
  gap: 4.3rem;
  justify-content: space-between;
}
.team .container .team__inner .member-list .member-item {
  width: 26.6rem;
  height: 38.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.team .container .team__inner .member-list .member-item .block-image {
  width: 23.4rem;
  height: 29.9rem;
  flex-shrink: 0;
  display: flex;
  position: relative;
}
.team .container .team__inner .member-list .member-item .block-image .image-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 23.4rem;
  height: 29.9rem;
  flex-shrink: 0;
  border-radius: 12.95rem;
  overflow: hidden;
}
.team .container .team__inner .member-list .member-item .block-image .image-container .background {
  width: 23.4rem;
  height: 26.6rem;
  flex-shrink: 0;
  border-radius: 12.95rem;
}
.team .container .team__inner .member-list .member-item .block-image .image-container .image-main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 25.1rem;
  height: 29rem;
  flex-shrink: 0;
}
.team .container .team__inner .member-list .member-item p {
  padding: 2.4rem 0 1.4rem;
  color: #656689;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem; /* 100% */
}
.team .container .team__inner .member-list .member-item h3 {
  color: #000958;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.2rem; /* 100% */
}
.team .container .team__inner .member-list .member-item:nth-child(1) .block-image .image-deco {
  position: absolute;
  top: 18rem;
  left: -1.8rem;
}
.team .container .team__inner .member-list .member-item:nth-child(1) .background {
  background: #90ccff;
}
.team .container .team__inner .member-list .member-item:nth-child(2) .block-image .image-deco {
  position: absolute;
  top: 4rem;
  left: -1.8rem;
}
.team .container .team__inner .member-list .member-item:nth-child(2) .background {
  background: #ff997e;
}
.team .container .team__inner .member-list .member-item:nth-child(3) .block-image .image-deco {
  position: absolute;
  top: 18rem;
  left: -1.8rem;
}
.team .container .team__inner .member-list .member-item:nth-child(3) .background {
  background: #fabf3e;
}
.team .container .team__inner .member-list .member-item:nth-child(4) .block-image .image-deco {
  position: absolute;
  top: 4rem;
  left: -1.8rem;
}
.team .container .team__inner .member-list .member-item:nth-child(4) .background {
  background: #5bd6e2;
}
.team .container .team__inner a {
  padding: 2rem 3rem;
  border-radius: 3rem;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
  text-decoration: none;
  width: fit-content;
  margin-top: 4.8rem;
  border-radius: 3.1rem;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
  color: #ff5b2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem; /* 100% */
}

.pricing {
  padding: 8.6rem 0;
  background-color: #fff6ed;
}
.pricing .container .pricing__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.pricing .container .pricing__inner h2 {
  color: #000958;
  text-align: center;
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.2rem; /* 119.231% */
}
.pricing .container .pricing__inner > p {
  padding: 2.4rem 0 3.8rem;
  color: #656689;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 187.5% */
}
.pricing .container .pricing__inner .pricing-type {
  width: 27.6rem;
  height: 5.6rem;
  flex-shrink: 0;
  border-radius: 3.1rem;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
}
.pricing .container .pricing__inner .pricing-type span {
  width: 13.1rem;
  height: 5.6rem;
  cursor: pointer;
  color: #ff5b2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 5.6rem; /* 100% */
  margin: auto;
}
.pricing .container .pricing__inner .pricing-type .pricing-active {
  color: #fff;
}
.pricing .container .pricing__inner .pricing-type .pricing-active-block {
  width: 13.1rem;
  height: 5.6rem;
  flex-shrink: 0;
  border-radius: 3.1rem;
  background: #ff5b2e;
  position: absolute;
  top: -0.1rem;
  left: 0;
  z-index: -1;
  transition: 0.5s;
}
.pricing .container .pricing__inner .pricing-type img {
  position: absolute;
  left: 30rem;
  bottom: 50%;
}
.pricing .container .pricing__inner .pricing-packs {
  width: 100%;
  display: flex;
  gap: 4.4rem;
  justify-content: space-between;
  margin-top: 5.6rem;
}
.pricing .container .pricing__inner .pricing-packs .pack {
  width: 33.3333%;
  border-radius: 2rem;
  background: #fff;
  padding: 3rem 2.8rem;
  display: flex;
  flex-direction: column;
}
.pricing .container .pricing__inner .pricing-packs .pack .tag {
  color: #ff5b2e;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2rem; /* 100% */
}
.pricing .container .pricing__inner .pricing-packs .pack .title {
  color: #3f4065;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; /* 100% */
  padding: 0.8rem 0 2.4rem;
}
.pricing .container .pricing__inner .pricing-packs .pack .price {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 3.3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.4rem; /* 103.03% */
}
.pricing .container .pricing__inner .pricing-packs .pack .btn {
  padding: 2rem 3rem;
  border-radius: 3rem;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
  text-decoration: none;
  width: fit-content;
  width: 100%;
  border-radius: 3.1rem;
  border: 1px solid #ff5b2e;
  opacity: 0.6;
  color: #ff5b2e;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6rem; /* 100% */
  margin: 2.2rem 0 2.4rem;
  cursor: pointer;
}
.pricing .container .pricing__inner .pricing-packs .pack .service-list {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  margin-bottom: 1.3rem;
}
.pricing .container .pricing__inner .pricing-packs .pack .service-list .service-item {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.pricing .container .pricing__inner .pricing-packs .pack .service-list .service-item p {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem; /* 100% */
}
.pricing .container .pricing__inner .pricing-packs .pack:nth-child(2) .btn {
  background: rgb(255, 91, 46);
  color: #fff;
}

.review {
  margin: 5.3rem auto 13rem;
}
.review .container .review__inner .review-content {
  display: flex;
  align-items: center;
}
.review .container .review__inner .review-content .navi-left {
  width: 5%;
}
.review .container .review__inner .review-content .navi-left .arrow-container {
  cursor: pointer;
  width: 5.4rem;
  height: 5.4rem;
  flex-shrink: 0;
  border: 1px solid rgb(255, 209, 196);
  border-radius: 50%;
  display: flex;
  box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}
.review .container .review__inner .review-content .navi-left .arrow-container img {
  margin: auto;
}
.review .container .review__inner .review-content .navi-left .arrow-container.arrow-left {
  background-color: transparent;
}
.review .container .review__inner .review-content .navi-left .arrow-right {
  background-color: rgb(255, 91, 46);
}
.review .container .review__inner .review-content .navi-right {
  width: 5%;
}
.review .container .review__inner .review-content .navi-right .arrow-container {
  cursor: pointer;
  width: 5.4rem;
  height: 5.4rem;
  flex-shrink: 0;
  border-radius: 50%;
  display: flex;
}
.review .container .review__inner .review-content .navi-right .arrow-container img {
  margin: auto;
}
.review .container .review__inner .review-content .navi-right .arrow-container.arrow-left {
  background-color: rgb(255, 91, 46);
}
.review .container .review__inner .review-content .navi-right .arrow-right {
  background-color: rgb(255, 91, 46);
}
.review .container .review__inner .review-content .review-avatar {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.review .container .review__inner .review-content .review-avatar .block-image {
  justify-content: center;
  width: 33.8rem;
  height: 50.7rem;
  flex-shrink: 0;
  display: flex;
  position: relative;
}
.review .container .review__inner .review-content .review-avatar .block-image .image-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: 27.4rem;
  height: 42.7rem;
  flex-shrink: 0;
  border-radius: 13.7rem;
  overflow: hidden;
}
.review .container .review__inner .review-content .review-avatar .block-image .image-container .background {
  width: 27.4rem;
  height: 35rem;
  flex-shrink: 0;
  border-radius: 13.7rem;
  background-color: #ffda54;
}
.review .container .review__inner .review-content .review-avatar .block-image .image-container .image-main {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 27.4rem;
  height: 42.7rem;
  flex-shrink: 0;
}
.review .container .review__inner .review-content .quote {
  margin: auto 7.6rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.review .container .review__inner .review-content .quote h2 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.2rem; /* 119.231% */
}
.review .container .review__inner .review-content .quote p {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem; /* 155.556% */
  margin: 2.4rem 0 3.4rem;
}
.review .container .review__inner .review-content .quote span {
  color: #282828;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.8rem; /* 100% */
  margin-left: 2.8rem;
  position: relative;
}
.review .container .review__inner .review-content .quote span::after {
  content: "";
  position: absolute;
  left: -2.8rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2rem;
  height: 0.2rem;
  background: #000;
}
.review .container .review__inner .navigation {
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}
.review .container .review__inner .navigation .line {
  width: 2.4rem;
  height: 0.8rem;
  flex-shrink: 0;
  border-radius: 0.4rem;
  background: #ff5b2e;
}
.review .container .review__inner .navigation .dot {
  cursor: pointer;
  border: 1px solid rgb(255, 91, 46);
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
}

.blog .container .blog__inner .blog-header {
  margin-bottom: 5.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog .container .blog__inner .blog-header h2 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 5.2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 6.2rem; /* 119.231% */
}
.blog .container .blog__inner .blog-header .view-all {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.blog .container .blog__inner .blog-header .view-all p {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem; /* 187.5% */
}
.blog .container .blog__inner .blog-header .view-all a {
  padding: 2rem 3rem;
  border-radius: 3rem;
  background: transparent;
  color: #fff;
  text-align: center;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2.8rem; /* 175% */
  text-decoration: none;
  width: fit-content;
  color: #ff5b2e;
  border: 1px solid #ff5b2e;
  border-radius: 99999px;
}
.blog .container .blog__inner .blog-content {
  display: flex;
  gap: 4.8rem;
}
.blog .container .blog__inner .blog-content .card {
  cursor: pointer;
  width: 33.33333%;
}
.blog .container .blog__inner .blog-content .card .block-img {
  width: 35.8rem;
  height: 36.2rem;
  flex-shrink: 0;
  border-radius: 2.4rem;
  background: #90ccff;
  padding: 2.4rem 0 0 3.6rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.blog .container .blog__inner .blog-content .card .block-img .date {
  color: #fff;
  font-family: "Sora", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem; /* 121.429% */
}
.blog .container .blog__inner .blog-content .card .block-img .img {
  width: 32.2rem;
  height: 29.6rem;
  flex-shrink: 0;
}
.blog .container .blog__inner .blog-content .card:nth-child(2) .block-img {
  background: rgb(255, 153, 126);
}
.blog .container .blog__inner .blog-content .card:nth-child(3) .block-img {
  background: rgb(91, 214, 226);
}
.blog .container .blog__inner .blog-content .card h3 {
  margin: 2.8rem 0 1.6rem;
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 2.2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 3.4rem; /* 154.545% */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.blog .container .blog__inner .blog-content .card p {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.4rem; /* 171.429% */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.footer {
  background: #fff6ed;
  margin-top: 13rem;
}
.footer .footer__inner {
  display: flex;
}
.footer .footer__inner .footer-left {
  width: 40%;
  margin: 11.4rem 0 14rem;
}
.footer .footer__inner .footer-left form {
  margin: 4rem 0 6.8rem;
  display: flex;
  justify-content: space-between;
  width: 26.8rem;
  height: 4.6rem;
  flex-shrink: 0;
  border-radius: 9999px;
  border: 1px solid rgba(255, 91, 46, 0.25);
  opacity: 0.6;
  background: #fff;
}
.footer .footer__inner .footer-left form input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  border-radius: 9999px;
  padding: 0 2.2rem;
}
.footer .footer__inner .footer-left form input::placeholder {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.4rem; /* 116.667% */
}
.footer .footer__inner .footer-left form button {
  cursor: pointer;
  width: 4.5rem;
  height: 4.6rem;
  flex-shrink: 0;
  border-radius: 50%;
  background: rgb(255, 91, 46);
  border: none;
  display: flex;
}
.footer .footer__inner .footer-left form button img {
  margin: auto;
}
.footer .footer__inner .footer-left h3 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 111.111% */
}
.footer .footer__inner .footer-left .social-list {
  margin-top: 1.6rem;
  display: flex;
  gap: 1.6rem;
}
.footer .footer__inner .footer-left .social-list a {
  width: 3.2rem;
  height: 3.2rem;
  flex-shrink: 0;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
}
.footer .footer__inner .footer-left .social-list a img {
  margin: auto;
}
.footer .footer__inner .footer-right {
  flex-grow: 1;
  background: #fffaf5;
  padding: 5.2rem 0 0 2.2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.footer .footer__inner .footer-right .list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5.8rem;
  padding-left: 6.4rem;
}
.footer .footer__inner .footer-right .list .services-list {
  width: 100%;
  display: flex;
}
.footer .footer__inner .footer-right .list .services-list .services-item {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.footer .footer__inner .footer-right .list .services-list .services-item h3 {
  color: #000958;
  font-family: "Sora", sans-serif;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem; /* 111.111% */
}
.footer .footer__inner .footer-right .list .services-list .services-item ul {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}
.footer .footer__inner .footer-right .list .services-list .services-item ul li {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.8rem; /* 200% */
}
.footer .footer__inner .footer-right .copy-right {
  margin-top: 5.2rem;
}
.footer .footer__inner .footer-right .copy-right p {
  color: #656689;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4rem; /* 116.667% */
}

/*# sourceMappingURL=style.css.map */
